<%- include('header') -%>
<div class="page">
      <h1>Jocelyn Ng</h1> <br>
      <p>I am a HubSpotter based in Singapore! <br> Working as a Product Expert in the APAC office
      <br>My hobbies include baking, hand-brewing coffee and more recently, meal prep!</p>
    </div>
    <%- include('footer') -%>
  </body>
</html>