
<%- include('header') -%>
<div class="page">
      <h2>Contact Me</h2> 
        <div class="form">
            <form action="/" method="post">
                <div class="field">
                    <div class="label">
                        <label for="name">Name</label>
                    </div>
                    <input id="name" name="firstname" type="text" value="<%= name %>" placeholder="Name">
                </div>
                <div class="field">
                    <div class="label">
                        <label for="email">Email</label>
                    </div>
                    <input id="email" name="email" type="text" value="" placeholder="Email">
                </div>
                <div class="field">
                    <div class="label">
                        <label for="text">Message</label>
                    </div>
                    <input id="message" name="message" type="text" value="" placeholder="Ask me anything!">
                </div>
                <div class="button">    
                    <input type="submit" value="Submit" id="submit">
                </div>
            </form>
        </div>
    </div>
    <%- include('footer') -%>
  </body>
</html>
