<html>
  <head>
    <title>Contact Me</title>
    <link href="static/main.css" rel="stylesheet" type="text/css">

    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/4718896.js"></script>
    <!-- End of HubSpot Embed Code -->

</head>
  <body>
    <div class="header">
        <div class="nav">
            <table>
              <tr>
                <td><a href="/">Home</a></td>
                <td><a href="/about">About</a></td>
                <td><a href="/contact">Contact</a></td>
                <td><a href="/portfolio">Portfolio</a></td>
              </tr>
            </table>
          </div>
      <h1>Contact Me</h1>
      <p>Homepage blah blah</p> 
        <div class="form">
            <form action="/" method="post">
                <div>
                    <div class="label">
                        <label for="name">Name</label>
                    </div>
                    <input id="name" name="firstname" type="text" value="">
                </div>
                <div>
                    <div class="label">
                        <label for="email">Email</label>
                    </div>
                    <input id="email" name="email" type="text" value="">
                </div>
                <div class="button">    
                    <input type="submit" value="Submit" id="submit">
                </div>
            </form>
        </div>
    </div>
  </body>
</html>