<html>
  <head>
    <title><%= title %></title>
      <!-- Latest compiled and minified CSS -->
      
      <link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css">
      <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
      <link href="https://fonts.googleapis.com/css?family=Francois+One|Lexend+Deca&display=swap" rel="stylesheet">
      <link href="static/main.css" rel="stylesheet" type="text/css">
      <meta content="width=device-width, initial-scale=1" name="viewport" />
  </head>
  <body>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/portfolio">Portfolio</a>
              </li>  
            </ul>
          </div>
        </nav>
    <header class="page-header header container-fluid">
      <div class="jumbotron">
        <div class= "card">
          <div class="media">
            <div class="d-flex">  
              <div class="outer-avatar">
                <div class="avatar"></div>
              </div>
            </div>  
            <div class="media-body">
              <h1 class="card-greeting" >Hey there!</h1>
              <% if(title === "About") { %> 
              <p class="lead"></p>
              <% } else { %>
              <p class="lead">I'm Jocelyn <br> I like to bake and eat cake 😋</p>
              <% } %>
            </div>
          </div>
        </div>
      </div>

    </header>
