<%- include('header') -%>
<div class="page">
  <h1>Hello ____</h1>
  <p>Homepage blah blah 
    <a href="https://www.joceyng.com">test link</a>
  </p>
</div>
  <%- include('footer') -%>
  </body>
</html>