<%- include('header') -%>
<div class="page">
<% if(name != null) { %>
<div class="page-greeting">
    <h1 class="greeting">Hello</h1><p class="greeting"> <%= name %> </p> 
  </form></div>  
<% } else { %>
  <div class="page-greeting">
    <h1 class="greeting">Hello</h1><form action="/" method="post"><div><input type="text" name="name" id="input-greeting" autofocus></div><div><input type="submit"></div> 
  </form></div>
  <% } %>    
</div>
  <%- include('footer') -%>
  </body>
      
</html>