
    <%- include('header') -%>
    <div class="page">
      <h2>Portfolio</h2> 
      <div class="portfolio-icon"><a href="https://landing.joceyng.com/case-target-calculator" target="blank"><img src="/static/calculator.jpg" title="Case count calculator" width="100px"></a>
      </div>
      <p>I'm a case count calculator for chat reps!</p> 
    </div>
    <%- include('footer') -%>
  </body>
</html>