<html>
  <head>
    <title>Portfolio</title>
    <link href="static/main.css" rel="stylesheet" type="text/css">

  </head>
  <body>
    <div class="header">
        <div class="nav">
            <table>
              <tr>
                <td><a href="/">Home</a></td>
                <td><a href="/about">About</a></td>
                <td><a href="/contact">Contact</a></td>
                <td><a href="/portfolio">Portfolio</a></td>
              </tr>
            </table>
          </div>
      <h1>Portfolio</h1>
      <p>blah blah 
        
      </p>
    </div>
  </body>
</html>